<!--################################################################ -->
<!-- THE mySRDR LEFT NAVIGATION                                		     -->
<!--#################################################################-->
<div id='left-navigation-div' tabindex=100>
	<br/><br/>
	<br/>
	<div class='left-nav-menu' id="nav-menu">
		<p>MY WORK</p>
		<a title="My Project List" href='#'>My Project List</a>
		<a title="View Collaborators" href='#'>View Collaborators</a>
		<a href="#">Comments Summary</a>
		<p>mySRDR ACCOUNT</p>
		<a href='#'>My Profile</a>
		<a href='#'>Access Requests</a>
		<a href='#'>Who's Online?</a>
		<p>FILING CABINET</p>
		<a href='#'>Favorite Projects</a>
		<a href='#'>Saved Searches</a>
		<a href='#'>Reports</a>
		<p>OTHER RESOURCES</p>
		<a href="http://abstrackr.cebm.brown.edu/account/login" target="_blank">abstrackr</a>
		<a href="http://tuftscaes.org/open_meta/" target="_blank">OpenMeta[Analyst]</a>
		<a href='http://www.clinicaltrials.gov' target="_blank">ClinicalTrials.gov</a>
		<p>HELP INFORMATION</p>
		<a href='#'>Help and FAQ</a>
		<a href='#'>Video Tutorials</a>
		<a href='#'>Feedback</a>
		
	</div>
</div>	
