<div id="sidebar">
	<br/>
<div class="tools">
<div class="actions"><%= link_to image_tag("Add.png") + " New Project", new_project_path, :class => "positive" %></div>
<p/>
<div class="actions"><%= link_to image_tag("Add.png") + " Table Creator", "/projects/tablecreator.html?prjid=-1", :class => "positive" %></div>
</div>



</div>