<div id='add_measure_modal'>
	<%= render 'comparison_data_points/add_measures_form' %>
</div>

<script type="text/javascript">
		$("#add_measure_modal").dialog({
			modal: true,
			autoOpen: false,
			minWidth: 750,
			title: "Manage Comparison Measures"
		});
</script>