# Do not track the following files
tags
coverage
Gemfile.lock

# Annoying mac files
.DS_Store
._.DS_Store

# Ignore vim swap files
*.swp

# Ignore configuration files
config/application.rb
config/database.yml
config/environment.rb
properties/gui.properties

# Ignore uploaded files in public folder
public/*.xlsx
public/*.conv
public/*.xls
public/*.txt
!public/robots.txt
