<% unless @existing_results.empty? && @existing_comparisons.empty? %>
	<br/>
	OR <a href='#' tabindex='230' id="view_modify_entry_link" title="View/Modify Existing Results Entries" class='toggle_existing_results_link'>View/Modify Existing Data Entries</a>	
	<br/>
<% else %>
  
<% end %>