<span id="<%= 'other_'+@field_id.to_s %>" class="other_field" style="padding: 0px;"><br/><br/>
Please Specify: <input type='text' name="<%= @field_name %>" id="<%= @field_id + '_input' %>" style='width:75%;' title="other"></span>