#modalNotice ul {
    padding-left: 0;
}

.info-messages {
    position: fixed;
    z-index: 1;
    background: white;
    left: 8%;
    width: 85%;
    font-size: 1.5em;
}

.logos {
    padding-top: 30px;
}

.container-fluid {
    padding-right: 30px !important;
    margin-right: 0;
    margin-left: 0;
}

#header img.left {
    padding-left: 6%;
}

#header img.right {
    float: right;
    padding-right: 8%;
}

p.clear {
    clear: both;
}

div#footer {
    text-align: center;
    padding-top: 40px;
}

p.result {
    font-style: italic;
}

.big {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0;
}

div#page-header {
    text-align: center;
    height: 140px;
}

div#consent-navigation {
    margin: 40px 0 100px 0;
}

/*
div#consent-navigation #back {
    float: left;
    text-align: left;
    padding-left: 250px;
}
 */

div#consent-navigation #next {
    margin-left: 10px;
}

p.clear {
    clear: both;
}

#help h3,
#help p {
    margin: 0;
}

#help {
    padding-top: 80px;
}

.underline {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
}

.big.small {
    font-size: 1em;
    padding-top: 10px;
}

.alert.alert-error {
    border: none;
    color: #dd3b3b;
    background-color: #e7afaf;
    border-color: #d48890;
}

#nav-title {
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 20px;
}

#header.row {
    margin-bottom: 50px;
}

body {
    font-size: 18px !important;
}

.consent-body {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid thin lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#congrats {
  padding-top: 20px;
}

label {
  font-weight: normal !important;
}

.followUp {
    padding-left: 5em;
}
