div ul .alert {
  border-radius: 0px;
  margin: 0px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #000000;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-email,
.alert-login,
.alert-password,
.alert-password_confirmation {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* STYLES FOR MESSAGE BOXES THAT DROP DOWN FROM THE TOP OF THE SCREEN */
#message_div{
    display: none;
    /*
    position:fixed;
    top: 50%;
    left: 50%;
    width:300px;
    height:100px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    z-index: 9999;
    padding:15px;
    margin-left: -200px;
    margin-top: -100px;
    */
}
div.success_msg{
    border-color: 2px solid green;
}
div.error_msg{
    border-color: 2px solid red;
}

/* DISABLED */
 1141
 1142: button.disabled-btn, .actions a.disabled-link{
 1143      background-color:#f5f5f5;
 1144      border:1px solid #dedede;
 ....
 1263  /*------------- Extraction form sections disable/enable ------------*/
 1264
 1265: .disabled{
 1266       filter: alpha(opacity=30); /* internet explorer */
 1267       -khtml-opacity: 0.3;      /* khtml, old safari */
 ....
 1271  }
 1272
 1273: .disabled a{
 1274   cursor: default;
 1275  }
 1276
 1277: .disabled .actions a:hover{
 1278      background-color:#f5f5f5;
 1279      border:1px solid #dedede;
 ....
 1281      border-left:1px solid #eee;
 1282  }
 1283: .disabled button:hover{
 1284      background-color:#f5f5f5;
 1285      border:1px solid #dedede;
