* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	background: #8E8E8E url('/images/homepage/background_gradient.png') repeat-x;
	font-family: Helvetica, Arial !important;
}

p, li {
	font: 1.2em/1.8em Tahoma, sans-serif;
	margin-bottom: 0px;
}

h1 {
	font: 2.0em Tahoma, sans-serif;
	color: white;
	height: 0px;
}

h2 {
	font: 1.8em Tahoma, sans-serif;
	color: green;
	margin-bottom: 10px;
}

ul {
	margin:0px;
	padding:0px;
}

img {
	border: none;
}
div, td{
	margin:0;
	padding:0;
	font-family: Helvetica, Arial;
	font-size: 14px;
	border:none;

}
/* THE WRAPPER FOR THE ENTIRE PAGE */
#page-wrap {
	
	min-width: 860px;
	max-width: 1260px;
	margin: 10px auto;
	}
	#page-wrap #inside {
		margin: 0px 0px 0px 0px;
		padding-top: 0px;
		padding-bottom: 10px;
		position:relative;
		background:#fff;
	}
/* THE MAIN CONTENT, OR RIGHT COLUMN */	
#main-content {
	background: url('/images/left-sidebar.gif') repeat-y white;
	padding-left: 230px;
	padding-top: 20px;
}
	
/* THE SRDR HEADER */
#header {
	background: url('/images/homepage/top_header_middle.jpg') repeat-x white;
	height:97px;
	text-align: left;
	position:relative;

	}
	#header #account-links{
		font-family: arial;
		font-size: 11px;
		color: #fff;
	}
	#header #account-links a:link{
		color: #4da7fa;
		text-decoration: underline;
	}
	#header #account-links a:visited{
		color: #4da7fa;
	}
	#header #account-links a:hover{
		color: #fff;
		text-decoration: underline;
}

/* THE MAIN HORIZONTAL NAVIGATION */	
#horizontal-nav{
	background: #000;
	width: 100%;
	min-height: 25px;
	margin:0;
	padding:0;
	position:relative;
	}
	
	#horizontal-nav ul{
		list-style-type:none;
		padding:0;
		margin:0;
		overflow:hidden;
		height: 35px;
	}

	#horizontal-nav ul li{ 
		float:left;
		text-align:center;
		border-right: solid 1px #2b2b2b;
		padding-top:10px;
		padding-bottom:10px;
		/* color: #999; */
		color: #e6e6e0;
		width: 150px;
		margin: 0px;
	}
	#horizontal-nav ul li:hover{
		background:-webkit-gradient(linear, left bottom,left top, from(#494949), to(#000));
		background: -moz-linear-gradient(top,  #494949,  #000);
		background-image: linear-gradient(to bottom, #494949 0%, #000 100%);
		background-image: -ms-linear-gradient(to bottom, #494949 0%, #000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000');
		color: #fff;
		cursor: pointer;
	}
	#horizontal-nav ul li.current{
		background:-webkit-gradient(linear, left bottom,left top, from(#494949), to(#000));
		background: -moz-linear-gradient(top,  #494949,  #000);
		background-image: linear-gradient(to bottom, #494949 0%, #000 100%);
		background-image: -ms-linear-gradient(to bottom, #494949 0%, #000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000');
		color: #fff;
		font-weight: bold;
	}

	#horizontal-nav ul li a:link{
		display:block;
		height:100%;
		width:170px;
		/* color: #999; */
		color: #e6e6e0;
		font-family: helvetica;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		text-shadow: #2b2b2b 1px 0px 0.5px ;
	}
	#horizontal-nav ul li a:visited{
		/* color: #999; */
		color: #e6e6e0;
	}

	#horizontal-nav ul li a:hover{
		background: #fff;
		color: #000;
	}
	#horizontal-nav ul li#current a{
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		background:-webkit-gradient(linear, left bottom,left top, from(#494949), to(#000));
		background: -moz-linear-gradient(top,  #494949,  #000);
		background-image: linear-gradient(to bottom, #494949 0%, #000 100%);
		background-image: -ms-linear-gradient(to bottom, #494949 0%, #000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000')
	}
	#horizontal-nav a:link{
		font-size: 11px;
		/*color: #7490a6;*/
		color: #e6e6e0;
		text-decoration: underline;
	}
	#horizontal-nav a:visited{
		/*color: #7490a6;*/
		color: #e6e6e0;

	}
	#horizontal-nav a:hover{
		color: #fff;
}
/*###########################################
  STARTING BREADCRUMBS
###########################################*/
	#breadcrumbs-div{
		position:relative;
		background: #2b2b2b;
		width: 100%;
	}
	.breadcrumb { 
		list-style: none; 
		overflow: hidden; 
		background: #2b2b2b;
		font: 11px Helvetica, Arial, Sans-Serif;
		margin-top: -1px;		
	}
	.breadcrumb li { 
		float: left; 
	}
	.breadcrumb li a {
		text-decoration: none; 
		padding: 6px 0 6px 45px;
		margin-top: 0px;
		background: #494949;                   /* fallback color */
		background: hsla(0, 0%, 29%, 1); 
		position: relative; 
		display: block;
		float: left;
		font: 12px Helvetica, Arial, sans-serif;
		font-weight: normal;
		color: #999999
	}
	.breadcrumb li a:after { 
		content: " "; 
		display: block; 
		width: 0; 
		height: 0;
		border-top: 48px solid transparent;           /* Go big on the size, and let overflow hide */
		border-bottom: 48px solid transparent;
		border-left: 30px solid hsla(0, 0%, 29%, 1);;
		position: absolute;
		top: 50%;
		margin-top: -48px; 
		left: 100%;
		z-index: 2; 
	}	
	.breadcrumb li a:before { 
		content: " "; 
		display: block; 
		width: 0; 
		height: 0;
		border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
		border-bottom: 50px solid transparent;
		border-left: 31px solid #2b2b2b;
		position: absolute;
		top: 50%;
		margin-top: -50px; 
		margin-left: 1px;
		left: 100%;
		z-index: 1; 
	}	
	.breadcrumb li:first-child a {
		padding-left: 15px;
	}
	.breadcrumb li:nth-child(2) a       { background:        hsla(0, 0%, 26%, 1); }
	.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(0, 0%, 26%, 1); }
	.breadcrumb li:nth-child(3) a       { background:        hsla(0, 0%, 23.5%, 1); }
	.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(0, 0%, 23.5%, 1); }
	.breadcrumb li:nth-child(4) a       { background:        hsla(0, 0%, 21%, 1); }
	.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(0, 0%, 21%, 1); }
	.breadcrumb li:nth-child(5) a       { background:        hsla(0, 0%, 17.5%, 1); }
	.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(0, 0%, 17.5%, 1); }
	.breadcrumb li:last-child a {
		background: #2b2b2b !important;
		color: #fff;
		pointer-events: none;
		cursor: default;
	}
	.breadcrumb li:last-child a:after { border: 0; }
	.breadcrumb li a:hover { background: hsla(0,0%,29%,1); }
	.breadcrumb li a:hover:after { border-left-color: hsla(0,0%,29%,1) !important; 
}     
/*###########################################
  ENDING THE BREADCRUMBS
###########################################*/
/*
*/
/******************************************/
/* THE HOMEPAGE-SPECIFIC STYLES           */
/* THE COLLAGE FOUND ONLY ON THE HOMEPAGE */
#homepage-collage-div{
	position:relative;
	width:100%;
	height:279px;
	border-bottom: 1px solid #9e9e9e;
	/*
	background: -webkit-gradient(linear, left top,right top, from(#d5e5f5), to(#1d65aa));
	background: -moz-linear-gradient(left,  #d5e5f5,  #1d65aa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5e5f5', endColorstr='#1d65aa');
	*/
	background:#d5e5f5;
	}
	#welcome-text{
		font-size: 16px;
		font-weight: bold;
		color: #444;
		position:absolute;
		left:25px;
		top: 110px;
		width: 500px;
		line-height:25px;
		z-index:100;
	}
	#login-window{
		/*
		-moz-border-radius: 15px;
		border-radius: 15px;
		*/
		width:283px;
		height:261px;
		z-index:102;
		background: url('/images/homepage/hero_panel_SignIn.png') no-repeat;
		position:absolute;
		right:40px;
		top:10px;
		font-size:12px;
		font-weight:bold;
		color: #fff;
		font-family: Helvetica, Arial;
	}#login-window #login-div{
		margin: 15px 15px 15px 20px;
		font-size: 13px;
		font-weight: normal;
		color: white;

}
/* THE HOMEPAGE LEFT AND RIGHT SIDE CONTENT PANES */
#home-content{
		position:relative;
		width:100%;
		background: #fff;
		border-bottom: 1px solid #9e9e9e;
		height: auto;
	}
	#home-left-panel{
		position: relative;
		float:left;
		top:0px; 
		left: 0px;
		width:78%;
		min-width: 600px;
		min-height:500px;
		padding: 15px 0px 0px 15px;
		background: #fff;
		display:block;
	}
	#home-right-panel{
		float:left;
		position:absolute;right:0px;top:0px;
		background-color: #f2f5f5;
		border-left: solid 1px #aaa;
		width:20%;
		height:auto;
		min-height:500px;
		min-width:175px;
		margin-left: 15px;
		padding: 15px 2px 0px 5px;
		display:block;
}

#container{
	background-color: #fff;
	background-image: url('/images/left_nav/left-nav-bg.png');
	background-position:left;
	background-repeat: repeat-y;
	margin:0;
	padding:0;
	padding-top:0px;
	width:100%;
	overflow: hidden;
	border-bottom: 1px solid #C3C3C3;
}

#container-split {
	/*background-color: #fff;
	background-image: url('/images/left_nav/left-nav-bg.png');
	background-position:left;
	background-repeat: repeat-y;*/
	margin:0;
	padding:0;
	padding-top:0px;
	width:100%;
	overflow: hidden;
	border-bottom: 1px solid #C3C3C3;
}

#extraction-form-split-left {
	width: 50%;
	float: left;
}

#extraction-form-split-right {
	width: 50%;
	float: right;
}

/************ END HOMEPAGE STYLES *****************/

/************ NAVIGATION-SPECIFIC STYLES *****************/

/******************************/
/* NAVIGATION COLUMN          */
/******************************/
#left-navigation-div{
	float: left;
	width:190px;
	min-height:400px;
	margin:0px;
	padding:0px;
	
	}
	/* the left nav menu wrapper */
	div.left-nav-menu {
		width: 100%;
		font-size: 12px;
		padding-bottom: 10px;
		color: #fff;
	}
	/* a dropdown menu item title */
	div.left-nav-menu div {
		overflow: hidden;
		width:100%;
		font-family: Helvetica, Arial;
		font-weight: bold;
		font-size: 12px;
	}
	/* a closed dropdown menu item title */
	div.left-nav-menu div.collapsed {
		height: 25px;
	}
	/* an expanded dropdown menu item title */
	div.left-nav-menu div.expanded{
		height:25px;
	}
	/* the section title in the left navigation menu */
	div.left-nav-menu p{
		display:block;
		width: 100%;
		text-align:center;
		height: 20px;
		margin:0px;
		padding-top:10px;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, -webkit-gradient(linear, left top,left bottom, from(#c4c4c4), to(#a3a3a3));
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, -moz-linear-gradient(bottom,  #c4c4c4,  #a3a3a3);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#a3a3a3');
		font-family:"Myriad Pro",Helvetica,Arial;
		font-size: 14px;
		/*color: #4c4c4c;*/
		color:#262626;
		font-weight: bold;
		text-shadow: 1px 0px 1px #fff;
		border-top: solid 1px #545454;
		border-bottom: solid 1px #818181;
	}
	div.left-nav-menu plain-text{
		color: black;
		display: block;
		font-weight: bold;
		font-size: 12px;
		padding-left: 15px;
	}
	/* an 'active' section title in the left navigation menu */
	div.left-nav-menu p.nav-active{
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, -webkit-gradient(linear, left top,left bottom, from(#858585), to(#262b30));
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, -moz-linear-gradient(bottom,  #858585,  #262b30);
		background-image: linear-gradient(to bottom, #858585 0%, #262b30 100%);
		background-image: -ms-linear-gradient(to bottom, #858585 0%, #262b30 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#262b30');
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
	/* the title of the dropdown section found within the menu div */
	div.left-nav-menu div span{
		display: block;
		width:175px;
		height: 20px;
		font-weight: bold;
		color: white;
		cursor: pointer;
		color: #000;
		padding-top: 5px;
		padding-left: 15px;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_downArrow.gif') 96% 50% no-repeat;
		background-color: #e4e4e4;
	}
	/* the collapsed navigational menu item */
	div.left-nav-menu div.collapsed span {
		color: #000;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_upArrow.gif') 96% 50% no-repeat;
		background-color: #e4e4e4;
	}
	div.left-nav-menu div.nav-active span{
		background-color: #f7f7f7;
	}
	div.left-nav-menu div span.nav-selected, div.left-nav-menu div.collapsed span.nav-selected{
		color: #fff;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 50% 50% no-repeat, -webkit-gradient(linear, left top,left bottom, from(#065191), to(#0e297d));
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 50% 50% no-repeat, -moz-linear-gradient(bottom,  #065191,  #0e297d);
		background-image: linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		background-image: -ms-linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065191', endColorstr='#0e297d');
	}
	div.left-nav-menu div span:hover{
		background-color: #e4e4e4;
	}

	
	div.left-nav-menu div.collapsed span:hover{
		background-color: #f7f7f7;
		font-weight: bold;		
	}
	/* links found within the menu that are not part of a dropdown */
	div.left-nav-menu a {
		display:block;
		overflow:hidden;
		padding: 5px 0px 5px 15px;
		width: 175px;
		border-bottom: 1px solid #999;
		color: #000;
		font-family: Helvetica, Arial;
		font-weight: bold;
		font-size: 12px;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y;
		background-color: #e4e4e4;
		text-decoration:none;
	}

	div.left-nav-menu plain-text a:hover{
		display:inline;
		width:auto;
		padding:0;
		margin:0;
		border:none;
		font-size:13px;
		background:none;
		text-decoration:underline;
	}

	div.left-nav-menu a:hover{
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_singleArrow.gif') 96% 50% no-repeat;
		background-color: #f7f7f7;
		text-decoration:underline;	
	}
	div.left-nav-menu a.nav-active{
		background-color: #f7f7f7;		
	}
	div.left-nav-menu a.nav-selected{
		color:white;
		font-weight: bolder;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat,-webkit-gradient(linear, left top,left bottom, from(#065191), to(#0e297d));
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat,-moz-linear-gradient(bottom,  #065191,  #0e297d);
		background-image: linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		background-image: -ms-linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065191', endColorstr='#0e297d');
		background-color: #d5e8f1;
	}
	div.left-nav-menu a.nav-selected:hover{
		cursor:text;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat,-webkit-gradient(linear, left top,left bottom, from(#065191), to(#0e297d));
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat,-moz-linear-gradient(bottom,  #065191,  #0e297d);
		background-image: linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		background-image: -ms-linear-gradient(to bottom, #065191 0%, #0e297d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065191', endColorstr='#0e297d');
		background-color: #d5e8f1;
	}
	div.left-nav-menu div a{
		background-color: #d5e8f1;
		font-weight: normal;
	}
	div.left-nav-menu div a.nav-selected{
		font-weight: bolder;
		color: #000;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat;
		background-color: #d5e8f1;
	}
	div.left-nav-menu div a.nav-selected:hover{
		cursor:text;
		background: url('/images/left_nav/leftNav_innerShadow.png') right center repeat-y, url('/images/left_nav/leftNav_doubleArrow.gif') 96% 50% no-repeat;
		background-color: #d5e8f1;
	}
/*****************************************/
/* THE MAIN PAGE CONTENT COLUMN          */
/*****************************************/
#content{
	position:relative;
	margin-left: 200px;
	padding-top:8px;
	padding-right: 20px;
	min-height:500px;
	
}
/* THE FOOTER DIV */
#footer {
	width:100%;
}

/* A DIV TO USE AS A PAGE DIVIDER */
.hr{
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	height:1px;
	border-bottom: solid 1px #aaa;
	
}
/*****************************************/
/* STYLES FOR WITHIN-TAB CONTENT         */
/*****************************************/
.tab-div{
	margin: 15px 10px 10px 15px;
	min-height:450px;
	position:relative;
	text-align:left;
}


/*******************************************/
/* STYLES FOR WITHIN-POPUP CONTENT         */
/*******************************************/
.popup-footer{
	width:100%;
	clear: both;
	background: -webkit-gradient(linear, left top,left bottom, from(#065191), to(#0e297d));
	background: -moz-linear-gradient(bottom,  #0e297d, #065191);
	background-image: linear-gradient(to bottom, #0e297d 0%, #065191 100%);
	background-image: -ms-linear-gradient(to bottom, #0e297d 0%, #065191 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#065191', endColorstr='#0e297d');
	position:absolute;
	bottom:0px;left:0px;
	text-align:center;
	padding-top: 10px;
	padding-bottom:10px;
	margin:5px 0 0 0;

}
div.spacer-div{width:100%;height:40px;}
div.padded-div{padding:1.5em;}
