<table class="list_table" id="imported_outcomes_table" summary="imported outcomes table">
	<thead><tr>
		<th>Title</th>
		<th>Note</th>
		<th></th>
	</tr></thead>
	<% unless @donor_info.empty? %>
		
		<% i = 1 %>
	  <% @donor_info.each do |donor|%>
	    <tr class='<%= cycle("even","odd") %>' id='<%= "name_row_" + i.to_s %>'>
	    	<td><%= donor.title %></td>
	    	<td><%= donor.note %></td>
	    	<td>
	    		<em>(imported)</em>
			  </td>    	
	    </tr>
	    <% i = i+1 %>
	  <% end %>
		
	<% else %>
	  <tr>
	  	<td colspan='3'>None of the forms importing from contain outcome information.</td>
	  </tr>
	<% end %>
</table>

<br/>


