<div id='left-navigation-div' tabindex=100>

</div>
<div id='content' tabindex=200>

<%= render "layouts/info_messages" %>
<p/><br/>
<h1> New SRDR User Account Denied</h1>
<br/><br/>
<div class="indented-text">
Please contact your local SRDR administrator or E-mail us at <A HREF="mailto:SRDR@ahrq.hhs.gov?subject=User Account Registration Agreement&body=SRDR Useage Policy Agreement">SRDR@ahrq.hhs.gov</A>
</div>

</div>