<% content_for :title, content='Registration' %>

<div style="height: 500px; margin-left: 200px;">
    <h1>SRDR no longer accepts creation of New User Accounts.</h1>
    <br>
    <h2>Please use the new website at <a href="https://srdrplus.ahrq.gov">https://srdrplus.ahrq.gov</a> to register a new account.</h2>
</div>
