<div id='left-navigation-div' tabindex=100>

</div>
<div id='content' tabindex=200>

<%= render "layouts/info_messages" %>

<h1>New SRDR User Account Registration Confirmation</h1>
<br/>
<div class="indented-text">
Thank you for requesting a new SRDR user account. We will review and send you a validation E-mail within 3 business days. 
When you receive the validation E-mail, please click on the link provided to activate your account.
<br/><br/>
If you have any questions please go to our Help link above and then click on the Contact Us tab.
</div>

</div>