<table class="classic-a" id="quality_dimf_table" summary="quality dimension fields table">
<thead><tr>
<th scope='col'>Dimension Name</th>
<th scope='col'>Instructions</th>
<th scope='col'>Actions</th>
</tr></thead>
<tbody>
<% if @quality_dimension_fields.length > 0 %>
<% for qa in @quality_dimension_fields %>
<tr>
<td scope='row'><%= qa.title %></td>
<td scope='row'><%= qa.field_notes %></td>
<td scope='row'>
<%= link_to image_tag("Pencil.png", :style=>"border:0px", :alt => "Edit") + "Edit Quality Dimension", edit_quality_dimension_field_path(qa, :extraction_form_id => @extraction_form.id), :remote=>true, :class => "tooltip_edit inline-block",:title=>"Edit Quality Dimension: #{qa.title}" %><br/>
<%= link_to image_tag("Bin_closed.png", :style=>"border:0px", :alt => "Delete") + "Delete Quality Dimension", quality_dimension_field_path(qa), :method=>:delete, :remote => true, :class => "tooltip_delete inline-block", :title=>"Remove Quality Dimension: #{qa.title}" %>
</td>
</tr>
<% end %>
<% end %>
</tbody>
</table>