<div id='confirm' style="display:none"> 
			<div class='header'><span>Confirm</span></div> 
			<div class='message'></div> 
			<div class='buttons'> 
				<div class='no simplemodal-close'>No</div><div class='yes'>Yes</div> 
			</div> 
</div> 
		
		
<script type="text/javascript">
	var is_edit_page = true;
</script>

<div id='confirm_delete' style="display:none"> 
			<div class='header'><span>Confirm Delete</span></div> 
			<div class='message'></div> 
			<div class='buttons'> 
				<div class='no simplemodal-close'>No, Don't delete it</div><div class='yes'>Yes, Delete it</div> 
			</div> 
</div> 