<div id='left-navigation-div' tabindex=100>
<%= render :partial=>"sidebars/mySRDR_sidebar" %>
</div>
<div id='content' tabindex=200>
<%= render "layouts/info_messages" %>
<h1>About the Systematic Review Data Repository</h1>	<br/>
<p>
In an effort to reduce the burden of conducting systematic reviews, researchers and developers at the Brown University Evidence-based Practice Center (EPC) (previously at Tufts Medical Center), with support from the <%= link_to "Agency for Healthcare Research and Quality (AHRQ)", "http://www.ahrq.gov" %>, have developed a collaborative, Web-based repository of systematic review data. This resource serves as both an archive and data extraction tool and is shared among organizations and individuals producing systematic reviews worldwide, enabling the creation of a central database of systematic review data which may be critiqued, updated, and augmented on an ongoing basis. This database is freely accessible to facilitate evidence reviews and thus improve and speed up policy-making with regards to healthcare.
</p>
<br/>
<p>
The benefits of an open systematic review data repository include: improved access to data by consumers of review evidence, a promotion of transparency and reliability in the systematic review process via communal review, enhanced cooperation and utilization across related resources (such as <%= link_to "ClinicalTrials.gov", "http://www.clincialtrials.gov" %>), and a more efficient means of producing and updating systematic reviews. Such an archive would also facilitate other novel avenues of inquiry, such as those investigating research methodology (e.g., comparing different types of outcomes across disciplines, or comparing methodological quality of studies based on funding sources) by concentrating relevant data into one readily available resource. 
<br/><br/>
<h2>Project Team</h2>
<br/><br/>
<strong>Principal Investigator:</strong> Joseph Lau<br/><br/>
<strong>Interim Project Manager:</strong> Joseph Lau<br/><br/>
<strong>Active Development Team:</strong><br/>
Bryant Smith<br/>
Christopher Parkin<br/>
Ethan Balk<br/>
Jens Jap<br/>
<br/>
<strong>Past Contributors:</strong><br/>
Nira Hadar<br/>
Manlik Kwong<br/>
Sarah Keefe<br/>
Amy Earley<br/>
Ramon Iovin<br/>
Stanley Ip<br/>
<br/>
<br/><br/>For more information, please contact us at <a href="mailto:SRDR@ahrq.hhs.gov">SRDR@ahrq.hhs.gov</a>.
<br/><br/>
<!-- <a href="/">Home</a> -->
</div>
