<div class='announcement_transition'>

  <div>
    <h1>Announcement</h1>
    <h3>SRDR is seeking a team to provide user support and continue development</h3>
  </div>

  <div>
    <p style='margin: 15px 0 15px 0;'>August 7, 2017</p>
    <p class='indent'>SRDR&#8482; (Systematic Review Data Repository) is seeking proposals from individuals/teams interested in providing user support and continuing development of SRDR. This solicitation is open to all candidates with systematic review knowledge, experience in web-based application development and website management, successes in seeking grants or alternative sources of funding, and experience working with healthcare researchers in collaborative settings. While future funding possibilities exist, no funds are offered in this award. The applicant will be required to secure resources to carry out the SRDR mission.</p>
  </div>

  <div>
    <strong>Background</strong>
    <p class='indent'>SRDR is an open-access repository of data abstracted from primary studies included in systematic reviews. It aims to improve the efficiency and transparency of updating systematic reviews by having a repository of data from previous systematic reviews in a readily-accessible and reusable format (Ip S, et al. Systematic Reviews 2012). SRDR follows an open-source policy. Development of SRDR began in 2010 with funding from AHRQ and the website was launched in June 2012. SRDR is a collaborative software tool and platform aiming to improve the efficiency and reliability of various systematic review processes. Development and support of SRDR was initially based at the Tufts Evidence-based Practice Center. It is currently maintained by the Brown EPC (after a move of several key personnel from Tufts to Brown in 2012). The targeted primary users of SRDR are the AHRQ-designated Evidence-based Practice Centers (EPCs). However, to maximize the value of SRDR, the tools and data are open and freely available to users world-wide. SRDR has been directed by Joseph Lau, MD (currently Professor Emeritus at Brown) since 2010. For more information, please visit the SRDR website (SRDR.AHRQ.gov).</p>
  </div>

  <div>
    <strong>Development platform</strong>
    <p class='indent'>SRDR is built on Ruby on Rails 5, which is the latest iteration of the most popular web framework for the Ruby programming language. It is database agnostic; thus, MySQL is used during development and production. The SRDR website is hosted on Amazon AWS services, funded by AHRQ and maintained by Aquilent, a subcontractor of AHRQ. SRDR subscribes to Amazon's Relational Database Service (Amazon RDS) for its high throughput and uptime. Notable design choices are clear separation of concerns between data logic / services and data presentation. SRDR back-end makes available API end points to interact with the underlying data models and business logic. A light front-end is provided to help with troubleshooting and initial usability testing. A more complete front-end exists using Facebook's React JS framework. For parts of the functionality, such as abstract screening, iOS and Android native applications are being developed using React-native JS. A refactoring process for SRDR began in 2016 incorporating users’ feedback. A new version (SRDR+) is anticipated to be completed in January 2018.</p>
  </div>

  <div>
    <strong>Current status</strong>
    <p class='indent'>SRDR is the world’s first open-access repository for systematic review data and collaborative tool for conducting systematic reviews, and it continues to hold this status five years after the website was launched. To aid the depositing of systematic review data into its repository, SRDR provides users with tools to create electronic data abstraction forms. Users can also upload data as Excel, Word, or PDF files if they don't want to use the built-in tools.</p>
    <p class='indent'>About 500 systematic review projects (EPC and non-EPC) have been initiated in SRDR, about 200 projects were started in 2016. EPCs have been required to deposit systematic review data upon completion of their AHRQ-supported evidence reports since around 2014. A total of 71 projects (including 57 EPC reports) that extracted data from about 10,000 primary studies has been published in SRDR. Individuals and groups not part of the EPC program have published data on 14 projects. During 2016, SRDR was visited by an average of 2800 unique visitors to the website per month. Since 2012, about 1400 requests (over 800 as project contributors) for user accounts from over 60 countries have been approved. About 70% of these accounts are individuals in the US, 6% from Canada, and 4.5% from UK.</p>
    <p class='indent'>Since the release of SRDR to the systematic review community, the staff have made presentations and conducted training workshops at many forums (e.g., Cochrane Colloquium, G-I-N). SRDR has attracted much interest from the international community, and currently is engaged in a funded collaborative project with outside investigators.</p>
  </div>

  <div>
    <strong>Funding</strong>
    <p class='indent'>AHRQ has provided most of the funding for SRDR development, operations, and maintenance since 2010. The current funding for SRDR ends in January 2018. Because of the uncertainty of the current healthcare research funding climate, the availability of funds beyond this date is also in doubt. Applicants should be aware that there is no guarantee of funding. The successful candidate is expected to have the resources necessary to carry out this project until such time that he/she identify and secure additional funds to continue and advance SRDR’s mission. The awardee is expected to work with AHRQ project officers on possible funds to support EPCs, submit grant applications to federal and private funding sources, and to develop a business plan to ensure the long-term sustainability of SRDR.</p>
  </div>

  <div>
    <strong>Related systematic review technologies</strong>
    <p class='indent'>Conducting a systematic review is a tedious and laborious process and is prone to human error. SRDR is one of many approaches that researchers worldwide are currently exploring to improve the efficiency and reliability of conducting systematic reviews. In addition to SRDR, investigators at Brown EPC have been developing advanced methods and applying computer technologies for almost two decades to improve the systematic review processes. These innovations include standalone software tools such as Abstrackr (that applies machine learning to semi-automate the process of screening abstracts) and Open-Meta (a meta-analysis software that incorporates advance statistical method. SRDR is independent of Abstrackr and OpenMeta in terms of funding and aspiration. The DAA (Data Abstraction Assistant) is a collaborative project with investigators at Johns Hopkins University funded by PCORI. This project leverages the SRDR platform to assist semi-automated data extraction. Applicants are encouraged to incorporate these tools, as well as develop their own tools, into SRDR.</p>
  </div>

  <div>
    <strong>Composition and role of current SRDR support team</strong>
    <p class='indent'>The current SRDR team comprises the SRDR director, a software engineer at 50% effort, and an administrator (provides user support, training, and administrative functions) at 50% effort. A SRDR governance board comprising individuals from several countries was formed in 2014 to advise the SRDR on policies and development. We also have several passionate users who have provided invaluable input to improve the software and the website.</p>
    <p class='indent'>The current SRDR team has carried out website development and maintenance tasks that included: application development, website maintenance, bug fixes, user support, training, disseminate and promote SRDR, support SRDR governance board, and secure funding needed for operations. It is anticipated that a new team will need to continue these tasks in addition to develop a sustainable business model.</p>
  </div>

  <div>
    <strong>Award</strong>
    <p class='indent'>The successful applicant will be granted the designation of SRDR Support Team (or another name to be jointly decided with the Governance Board). The awardee should agree to carry out SRDR’s mission, and to provide support to SRDR users and continue development of SRDR. While funding opportunities exist for projects such as SRDR, no specific funding is provided in the award. The awardee will be given a wide latitude to come up with innovative approaches and to work with SRDR Governance Board and AHRQ to ensure long-term sustainability of SRDR.<p>
  </div>

  <div>
    <strong>Timeline and process on selection of an SRDR support team</strong>
  </div>

  <div>
    <p><strong>Timeline</strong>: Interested candidates should submit a proposal by 5pm ET, September 6, 2017. The SRDR Governance Board will review proposal(s) submitted and make selection by October 31 (or earlier). Negotiation with successful applicant to follow.</p>
  </div>

  <div>
    <p><strong>Qualifications</strong>: This solicitation is open to all interested individuals or organizations with interests and experience in developing software tools to improve the systematic review process. The applicant should have systematic review knowledge, experience in web-based application development and website management, successes in securing grants or alternative sources of funding, and experience working with healthcare researchers in collaborative settings. The candidate may be based in an academic, non-profit, or commercial setting. Proposals from outside of the US are also welcomed. However, applicants should be aware that US-based federal funding may not be available to non-US entities. The successful candidate must be willing to adhere to SRDR’s mission as an open-source development and open-access of its tools and database to all users.</p>
  </div>

  <div>
    <p><strong>Required components of the proposal</strong>: The proposal is limited to a maximum of 5 pages of single spaced text. Appendices may be included but should not be lengthy. The components of the proposal should include but not limited to the following: understanding of SRDR’s mission, applicant’s vision for SRDR, proposed staffing and descriptions of individuals on the team, past experience and technical abilities, services the team will provide, a business plan that includes discussion of short-term financing of the team and long-term sustainability, and a discussion on the relationship with the SRDR Governance Board and engagement with the systematic review community. The applicant is encouraged to discuss innovative ideas to improve systematic review processes.</p>
  </div>

  <div>
    <p><strong>Evaluation of the proposal and selection of the SRDR support team</strong>: The SRDR Governance Board will evaluate all received proposals according to the required components discussed above. The Governance Board may contact an applicant for specific details. The decision of the Governance Board will be final. The Governance Board and AHRQ will discuss with the awardee the scope of the award.</p>
  </div>

  <div>
    <p><strong>Questions</strong>: Please direct any questions to SRDR administrator Bryant Smith (Email: Bryant_Smith@Brown.edu).<p>
  </div>

  <br>
  <br>

</div> <!-- END <div class='announcement_transition'> -->
