<div style='padding-top:10px; float:left;'><h2>External Resources</h2>

<br />
<br />

<strong style="text-decoration: underline;">Published Works:</strong>

<br />

<div class="external-resources">
  <ol>
    <li>
      <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3351737" class="needs_exit_disclaimer" target="_blank">
        Ip, Stanley et al. “A Web-Based Archive of Systematic Review Data.” Systematic Reviews 1 (2012): 15. PMC. Web. 16 Apr. 2015. (PMID: 22588052)
      </a>
    </li>
    <li>
      <a href="http://annals.org/article.aspx?articleid=2118598" class="needs_exit_disclaimer" target="_blank">
        Li, T., Vedula, S. S., Hadar, N., Parkin, C., Lau, J., & Dickersin, K. (2015). Innovations in Data Collection, Management, and Archiving for Systematic Reviews. Annals of internal medicine, 162(4), 287-294. (PMID: 25686168)
      </a>
    </li>
  </ol>
</div>

<br />
<br />

<strong style="text-decoration: underline;">Video Series:</strong>

<br />

<div class="external-resources">
  <ol>
    <li>
      <a href="https://prezi.com/soninegpehk6/data_videotutorial/?utm_campaign=share&utm_medium=copy" class="needs_exit_disclaimer" target="_blank">
        Gresham G., Li, T., Saldanha, I., Lindsley, K., Vedula, S., Parkin C., Lau, J., & Dickersin, K. (2015). High Quality Data Abstraction for Systematic Reviews: Tip and Advice
      </a>
      <ul>
        <li>
          This video series presents step-by-step instructions towards high quality data abstraction for systematic reviews. The steps covered in this video series include: 1) Develop outlines and identify data elements; 2) Assemble and Logically group data elements; 3) Identify the optimal way for framing the data abstraction item; 4) Develop data abstraction forms; 5) Set up and pilot test data abstraction forms; 6) Train data abstractors; 7) Implement a plan to assure and control data equality; 8) Export and clean data for analysis.
        </li>
      </ul>
    </li>
  </ol>
</div>

<br />
<br />

<strong style="text-decoration: underline;">Online Resources:</strong>

<div class="external-resources">
  <ol>
    <li>
      <a href="http://www.crd.york.ac.uk/prospero" class="needs_exit_disclaimer" target="_blank">
        PROSPERO: International prospective register of systematic reviews
      </a>
    </li>
    <li>
      <a href="http://www.equator-network.org" class="needs_exit_disclaimer" target="_blank">
        The EQUATOR Network: Enhancing the QUAlity and Transparency of health Research
      </a>
    </li>
    <li>
      <a href="http://effectivehealthcare.ahrq.gov/index.cfm/search-for-guides-reviews-and-reports/?productid=318&pageaction=displayproduct" class="needs_exit_disclaimer" target="_blank">
        AHRQ Methods Guide for Effectiveness and Comparative Effectiveness Reviews
      </a>
    </li>
    <li>
      <a href="http://handbook.cochrane.org" class="needs_exit_disclaimer" target="_blank">
        Cochrane Handbook for Systematic Reviews of Interventions
      </a>
    </li>
    <li>
      <a href="http://effectivehealthcare.ahrq.gov/index.cfm/search-for-guides-reviews-and-reports/?pageaction=displayproduct&productid=1266" class="needs_exit_disclaimer" target="_blank">
        AHRQ Proposed Governance and Data Management Policy for the Systematic Review Data Repository (SRDR)
      </a>
    </li>
  </ol>
</div>
