<div style='padding-top:10px; float:left;'>
<h2>SRDR Training Materials</h2>
<br/><div class='hr'></div><br/>
<table class='form_table'>
	<tr>
		<td class='label'>
			<h3>Overview</h3>
		</td>
		<td class='input'>
			Below you will find various tutorials and training materials that will help to familiarize you with SRDR. 
			<br/><br/>Microsoft Word and Adobe Acrobat are required to view these files. If you do not have this software, you may download free PDF or Word readers from the following links:<br/><br/>
			<a href="https://get.adobe.com/reader/" class='needs_exit_disclaimer' target="_blank" title="Download a Free PDF Viewer">Free PDF Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a><br/>
			<a href="https://www.microsoft.com/en-us/download/details.aspx?id=4" class='needs_exit_disclaimer' target="_blank" title="Download a Free Word Viewer">Free Word Reader <img alt="WARNING: This link will direct you away form our site." src="/images/exit_disclaimer.gif"/></a>
		</td>
	</tr>
	
	<tr>
		<td class='label'>
			<h3>Downloads</h3>
		</td>
		<td class='input'>
			Note: You may right-click and choose "Save Link As..." to save the following materials and tutorials to your hard drive.<br/><br/>
			<strong>SRDR Concepts</strong><br/>
			1. <a href='https://s3.amazonaws.com/srdr/SRDR_Introduction_2012.pdf' title='Download the SRDR Introduction in PDF Format'>Introduction (PDF - 1.1 MB)</a><br/>
			2. <a href='https://s3.amazonaws.com/srdr/SRDR_Project_Tools_tutorial.docx' title='Download the SRDR Introduction in PDF Format'>Using Project Tools (Word - 3.6 MB)</a><br/>
			3. <a href='https://s3.amazonaws.com/srdr/SRDR_Question_Builder_tutorial.docx' title='Download the SRDR question builder tutorial'>How to Add Questions to an Extraction Form (Word - 3.6 MB)</a><br/>
			4. <a href='https://s3.amazonaws.com/srdr/srdr_study_assignment_module.docx' title='Download the SRDR Study Assignment Module'>How to Upload a List of Studies to Your Project (Word - 1.4 MB)</a><br/>
			5. <a href='https://s3.amazonaws.com/srdr/Tutorial_for_using_the_Data_Import_Tool.pdf' title='Download the Data Import Tool tutorial'>Tutorial for Using the Data Import Tool (PDF - 11.1MB)</a>
			<br/><br/>
			<strong>Project Examples</strong><br/>
			1. <a href='https://s3.amazonaws.com/srdr/SRDR_BP_Targets_tutorial.docx' title='Download the Blood Pressure Targets Example in MS Word Format'>Blood Pressure Targets - Full Tutorial (Word - 13.6 MB)</a><br/>
			2. <a href='https://s3.amazonaws.com/srdr/SRDR_Data_extraction_only_for_Blood_Pressure_Targets_tutorial.docx' title='Download the Blood Pressure Targets Example in MS Word Format (Data Extraction Only)'>Blood Pressure Targets - Data Extraction Only (Word - 2.7 MB)</a><br/>
			3. <a href='https://s3.amazonaws.com/srdr/SRDR_Diagnostic_Tests-FISH_Testing_tutorial.docx' title='Download the Diagnostic Tests Example in MS Word Format'>Diagnostic Tests (Word - 12.1 MB)</a><br/>
			4. <a href='https://s3.amazonaws.com/srdr/SRDR_Implantable_Cardiac_Devices_tutorial.doc' title='Download the Implantable Cardiac Devices Example in MS Word Format'>Implantable Cardiac Devices (Word - 17 MB)</a><br/>
			5. <a href='https://s3.amazonaws.com/srdr/Sample_Spreadsheet_of_Abstracted_Data_to_Import_into_SRDR.xlsx' title='Download sample data for the data import tool tutorial'>Sample Spreadsheet of Abstracted Data to Import into SRDR (Excel - 41KB)</a><br/>
		</td>
</table><br/>
</div>
