<div id='left-navigation-div' tabindex=100>
	<%= render :partial=>"sidebars/mySRDR_sidebar"%>
</div>

<div id='content' tabindex=200>
<h2>SRDR Training Sessions</h2><br/><br/>
Please join us for the third of four Systematic Review Data Repository (SRDR) trainings taking place in 2013:<br/><br/>
<span style='font-style: italic;font-weight:bold; font-size: 15px;'>Using SRDR For Systematic Reviews of Diagnostic Tests</span><br/><br/>

Brown EPC developed SRDR, with support from AHRQ, to reduce the burden of conducting systematic reviews. This resource, which serves as both an archive and data extraction tool,  can be shared among organizations and individuals producing systematic reviews worldwide, and enables the creation of a central database of systematic review data. This database may be collaboratively vetted, is freely accessible, and integrates seamlessly with reviewers’ existing workflows. The ultimate goal is to facilitate efficiency, consistency, and quality in the generation and update of evidence reviews, and thus speed up and improve policy-making with regards to healthcare. SRDR development started in July 2010, and the system was released for general use by EPC institutions, selected organizations, and the public in June 2012.<br/><br/>

<span style='text-decoration:underline;font-weight:bold;'>Webinar Information:</span><br/>
<strong>Date:</strong> Thursday, November 7th at 2:00pm EST<br/><br/>
<strong>To join the online meeting:</strong><br/>
<ol style='list-style-type:decimal; margin-left:20px;'>
	<li>Go to: <a href='https://brownmeetings.webex.com/brownmeetings/j.php?ED=245926992&UID=1684719432&PW=NZjdkZGIzMjAw&RT=MiMxMQ%3D%3D' target='_blank'>https://brownmeetings.webex.com/brownmeetings/j.php?ED=245926992&UID=1684719432&PW=NZjdkZGIzMjAw&RT=MiMxMQ%3D%3D</a></li>
	<li>If requested, enter your name and email address</li>
	<li>Click "Join"</li>
</ol><br/>
<strong>To join the audio conference:</strong><br/>
Dial toll-free:1-877-668-4493. Access code (if promted): 730 477 337<br/><br/>
<strong>RSVP/Questions:</strong> Nira Hadar, SRDR Project Lead (<a href='mailto: nira_hadar@brown.edu'>nira_hadar@brown.edu</a>)<br/><br/>
The topics, dates and times of remaining trainings in this quarterly series will be forthcoming.<br/><br/>
We look forward to your participation.
<br/><br/>
Sincerely,<br/><br/>
The SRDR Team


