We're sorry, but we could not complete this request. Please send an email to cparkin@tuftsmedicalcenter.org with a description of this problem.
<br/><br/>
<div class="actions" style="width:100%; float:right">
		<button class="negative" id="feedback_result_close_btn" tabindex="99">
			<%= image_tag "Cancel.png", :alt => "Close" %> Close Window
		</button>  
</div>