Your feedback was submitted successfully. Your comments and problem reports are very helpful to us. Thank you for taking the time to evaluate SRDR!
<br/><br/>
<div class="actions" style="width:100%; float:right">
		<button class="negative" id="feedback_result_close_btn" tabindex="99">
			<%= image_tag "Cancel.png", :alt => "Close" %> Close Window
		</button>  
</div>