<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      Something wonderous and exciting has happened. We've received a DAA consent form from <%= @firstName %> <%= @lastName %>.
      Please click here to download it <a href=<%= daa_consent_url(token: @token) %> target="_blank">Consent Form</a>
    </p>
  </body>
</html>
