<% design_detail_field_array = DesignDetailField.where(:design_detail_id => design_detail_id).all %>

	<% for single_field in design_detail_field_array %>
		<div class="dd_<%= design_detail_id.to_s %>_box_container">
			
			Option Name: <%= text_field "ddf_" + single_field.id.to_s, :option_text, :value => single_field.option_text, :class => "inline-field margined-bottom",  :onchange => remote_function(:update => "save_field",  :method => "put",  :with => "'option_text=' + escape(value)", :class => "editable_field small_field",  :url => { :controller => :design_detail_fields, :action => :save_field, :design_detail_field_id => single_field.id, :design_detail_id => design_detail_id}, :title=>"option name") %>
			<div class="inline" id="saved_field_<%= single_field.id.to_s %>"></div>

		</div>
	<% end %>
