<table id="bottom_nav" summary="page bottom nav">
	<tr>
		<td align="left">
			<a href="<%= previous_url %>">
				<img src="/images/Silk_bullet_back.png" style="border:0px; vertical-align:text-top" alt="Go Back"/>
				Back
			</a>
		</td>
		<td align="right">

		</td>
	
	</tr>
</table>