<div id='left-navigation-div' tabindex=100>
    <%= render :partial => "sidebars/mySRDR_sidebar" %>
</div>
<div id="content" tabindex=200>
<%= render :partial => '/projects/publishing/request_list' %>
</div>