
<table id="bottom_nav" summary="back and continue buttons for page">
	<tr>
		<td align="left">
			<div class='actions'>
			<a href="<%= previous_url %>" id ="page_flip_btn_bk">
  				<img src="/images/Silk_bullet_back.png" style="border:0px; vertical-align:text-top" alt="go back" />
				Back to <%= previous_title %>
  			</a>
  			</div>
		</td>
		<td align="right">
			<div class='actions'>
			<a href="<%= next_url %>" id="page_flip_btn">
  			Continue to <%= next_title %>
  			<img src="/images/Silk_bullet_go.png" style="border:0px; vertical-align:text-top" alt="continue" />
  			</a>
			</div>
  		</td>
</tr>
</table>