<% if defined?(@extraction_form) && !@extraction_form.nil? && !@extraction_form.id.nil? %>

<h2><%= page_title %></h2>
<br/><br/>	
	
<% else %>
	<h2>Create New Extraction Form</h2><br/><br/>
<% end %>