<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>New SRDR User Account Confirmation</h1>
<p/>&nbsp;
<p/>&nbsp;
<br/><br/>
Thank you for requesting a SRDR user account. Please click on the validation link below to complete the activation of your user account. If you cannot 
click on the link, copy it to a browser.<p/><br/>
<%= root_url %>account/validation.html?user=<%= @registration.login %>&vcode=<%= @registration.validationcode %><p/><br/>
<br/><br/>
If you experience any difficulties, please contact us at [Contact info here]

</body>
</html>
