<strong style='color:red;'><%= @message %></strong>
<br/><br/>

<% unless @outgoing_requests.empty? %>
  <table class='form_table'>
  	<tr><th>Project</th><th>Last Downloaded</th><th>Download Count</th></tr>
  	<% @outgoing_requests.each do |act| %>
  		<tr>
        <td><%= @projects.find{|x| x.id == act.project_id}.title %></td>
        <td><%= act.last_download_at.nil? ? "--" : act.last_download_at.localtime.strftime("%m/%d/%y at %l:%M%p") %></td>
        <td><%= act.download_count %></td>
      </tr>
  	<% end %>
  </table>
<% else %>
You have not downloaded any project data.
<% end %>
