<div id='left-navigation-div' tabindex=100>
	<%= render :partial => "sidebars/mySRDR_sidebar" %>
</div>
<div id='content' tabindex=200>
	<%= render :partial=>"/data_requests/outgoing_requests" %>
</div>