<div id='left-navigation-div' tabindex=100>
<%= render :partial => "sidebars/mySRDR_sidebar" %>
</div>
<div id='content' tabindex=200>
	<h3 style='color:blue;'>Requests for my Data</h3>
	<%= render :partial=>"/data_requests/incoming_requests" %>
	<br/><br/>
	<h3 style='color:blue;'>Data I Have Requested</h3>
	<%= render :partial=>"/data_requests/outgoing_requests" %>

</div>