<p>
    <u>Purpose</u>: To obtain informed consent from potentially eligible participants for the Data Data Abstraction Assistant (DAA) Trial
</p>
<p>
    <u>When</u>: After a potential participant has been screened for eligibility and has been Appendices Appendix 7-1. Data Abstraction Assistant (DAA) Trial Informed Consent Form deemed to be eligible
</p>
<p>
    <u>Where</u>: Online, at the DAA Trial Informed Consent website, pages 1-8 which provide information about the study (http://srdr.ahrq.gov/daa/info)
</p>
<p>
    <u>By whom</u>: <%= @daa_consent.firstName %> <%= @daa_consent.lastName %> (<%= @daa_consent.email %>) - <%= @daa_consent.created_at.in_time_zone("Eastern Time (US & Canada)") %>
</p>
<p>
    <u>Information obtained from</u>: Online self-completion by potentially eligible participant
</p>
