<div id="body">
    <h1>Data Abstraction Assistant (DAA) Randomized Controlled Trial</h1>
    <h3>This website describes an ongoing randomized controlled trial that evaluates whether a new technology – DAA – helps increase efficiency and reduce errors during data abstraction for systematic reviews.</h3>
    <h2>What is DAA?</h2>
    <p>DAA is a new free technology that keeps track of location of information in a PDF document. It can be used to assist data abstraction for systematic reviews. In this study, we would like to test DAA alongside with Systematic Review Data Repository (SRDR), a free online repository of study data for systematic reviews.</p>
    <h2>If eligible, what will I be asked to do?</h2>
    <ul>
        <li>Complete necessary training modules of SRDR and DAA; register an account with SRDR (if you don’t already have one).</li>
        <li>Read six reports of clinical trials and complete data abstraction, two under each of three different approaches we are testing:
            <ol>
                <li>Single data abstraction with DAA followed by data verification by a second data abstractor,</li>
                <li>Single data abstraction without DAA followed by data verification by a second data abstractor, and</li>
                <li>Independent data abstraction without DAA by two data abstractors.</li>
            </ol>
        </li>
        <li>You will be randomly assigned to complete data abstraction in a certain sequence. You can complete your data abstraction from any computer, as long as it is connected to the internet.</li>
        <li>You can take a break between articles and can complete data abstraction of one article in multiple sessions. You will be given 4 weeks to complete data abstraction for all articles once you are assigned.</li>
    </ul>
    <h2>Am I eligible?</h2>
    <p>Individuals at least 20 years of age and of any race, sex, and nationality are eligible to participate in this study, provided they have experience in abstracting data for systematic reviews. Determine your eligibility: <a href="eligibility">here</a></p>
    <h2>I have questions. Where can I find help?</h2>
    <p>Please contact the Project Director Ian Saldanha, MBBS, MPH, PhD (<a href="mailto:isaldan1@jhmi.edu?Subject=DAA%20Inquiry" target="_top">isaldan1@jhmi.edu</a>) or the Principal Investigator Tianjing Li, MD, MHS, PhD (<a href="mailto:tli19@jhu.edu?Subject=DAA%20Inquiry" target="_top">tli19@jhu.edu</a>).</p>
</div>
