<strong>This section is being imported from the following form(s):</strong>
<ul class='cbox'>
	<% @donors.each do |donor| %>			
		<li class='cbox'><%= donor.title %></li>
	<% end %>
</ul>
Changes must be made to the extraction forms being imported, or by starting from scratch.<br/><br/>