<div style='border: 4px solid red; background-color:#ecc5b8; padding:5px; color:black; margin:5px; font-size: 13px;'>
    <strong>WARNING!</strong>
    <br/><br/>
    Data has already been saved for this question!<br/><br/>
    <strong><a href='#' id="question_faq_link" title='click here for an FAQ relating to question updates in SRDR'>CLICK HERE FOR EXPLANATIONS</a></strong> of how changes will propagate through your project. <br/><br/><strong>BE CAREFUL</strong> or <strong>DATA MAY BE LOST</strong>.<br/><br/>
</div>

<script type='text/javascript'>
<!--//
$("#question_faq_link").on("click",function(){
    window.open("/help?selected=5#question_builder","Question Builder FAQ", "menubar=no,toolbar=no,left=200,modal=yes");
});

//-->
</script>