<!DOCTYPE html>
<html>
	<head>
  	
		<title>SRDR - Systematic Review Data Repository</title>
	  <%= wicked_pdf_stylesheet_link_tag "scaffold", "jquery-ui-1.8.12.custom" %>

    
  </head>
<body>

<%= yield %>

</body>
</html>
